.LoginPage {
    display: flex;
    flex-direction: row;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

.LoginShowacase {
    width: 50%;
    height: 100vh;
    object-fit:cover;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    filter: blur(1px);
}
.Login {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.LoginHeading {
    font-size: 30px;
    font-weight: bold;
    margin: 30px;
    width: 240px;
    /* background-color: aquamarine; */
    text-align: left;
    

}

.LoginText {
    font-size: 20px;
    font-weight: 500;
    margin: 30px;
    width: 240px;
    /* background-color: aquamarine; */
    text-align: left;
}

.error {
    font-size: 12px;
    font-weight: 500;
    color: red;
    width: 230px;
    text-align: left;
    margin: 5px;
}

@media screen and (max-width: 850px) {
    .LoginShowacase {
      visibility: hidden;
      display: none;
    }

    .Login {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

  }