.PlotCard{
    width: 100%;
    /* height: 300px; */
    background-color: #20232a;
    color:white;
    /* position: flex; */
    /* overflow: hidden; */
    /* padding: 12px 0px; */
   
    outline: none;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0px 0px;
    border-radius: 1px;
    /* flex-direction: row; */
    /* height: 40px; */
    margin: 2px 2px;

}


.PlotBody{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-between;
    align-items: center;
    /* margin: 20px; */
    flex-direction: row;
    width: 100%;
    height: 50px;
    /* margin: 10px 0px; */
    
}

.plotNumber{
    /* width: 25%; */
    /* background-color: rgb(255, 213, 0); */
    
    display: flex;
    align-items: center;
    justify-content: left;
    color: black;
    /* border-radius: 50%; */
    height: 100%;
    width: 20%;
    
}

.plotNumberBody{
    background-color: rgb(255, 213, 0);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
}

.plotElement{
    /* width: 25%; */
    /* margin-bottom: 18px; */
   
}
.PlotElementHeading{
    font-size: 13px;
    letter-spacing: 0.8px;
    /* text-transform: uppercase; */
    /* text-align: left; */
}

.PlotElementBody{
    font-size: 1rem;
    letter-spacing: 0.8px;
    /* text-transform: uppercase; */
    /* text-align: left; */
    color: #ffd56d;
   
}

.plotStausElement{
    /* margin: 20px; */
    /* margin-bottom: 18px; */
    width: 25%;
   
   
}
.PlotStatusElementHeading{
    font-size: 13px;
    letter-spacing: 0.8px;
    /* text-transform: uppercase; */
    /* text-align: left; */

   
}

.PlotStatusElementBody{
    font-size: 1rem;
    letter-spacing: 0.8px;
    /* text-transform: uppercase; */
    /* text-align: left; */
    color: #ffd56d;
    text-align: left;
    letter-spacing: 2px;
}

.sold{
    color: red;
}

.available{
    color: rgb(0, 255, 0);
}

.requestButton {
    
    background: #1d366a;
    color: #fff;
    border: 0;
    cursor: pointer;
    width: 20%;    
    height: 10px;
    padding: 0px 5px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    float: right;
    font-size: 13px;



  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20%;  
  will-change: transform;
  width: 110px;
  height: 30px;
  margin: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  letter-spacing: 1px;

}
.requestButton:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
/* @media screen and (max-width: 1125px) {
    .PlotCard{
        height: 250px;
        display: flex;
        flex-direction: row;
        overflow: scroll;
        overflow-x: hidden;
    }
  } */
  @media screen and (max-width: 400px) {
    .image-container{

      width: calc(100vw - 50px);
  
  }
  .container {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  }