.PlotsList {
    margin-top: 153px;
    /* height: 100vh; */
    display: flex;
    width: 100vw;
   justify-content: center;

  
}

.PlotsListBody {
    /* width: 1000px; */
    max-width: 1000px;
    width: 100%;
    /* background-color: red; */

    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
   height: 100%;
}

input {
    max-width: 1000px;
    width: 100%;
    padding: 8px 20px;
    /* margin: 8px 0; */
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    /* margin: 10px; */
    /* margin: 15px; */
    border-radius: 60px;
   
   
   
    }

 .search {
    position: fixed;
    background-color: #000000;
    width: 100vw;
    z-index: 1;
    top: 90px;
    left: 0px;
    padding: 15px 0px;
 }   

@media only screen and (max-width: 768px) {
    .PlotsList {
        margin-top: 119px;
    }
  .search {
    top: 59px;
  }
       
        
}